.add-phone {
	@include relative();

	@include flex-pos(normal, center);
	margin-top: 1.5rem;
	padding-left: 2.5rem;

	font-size: $font-size-sm;

	&::before {
		@include absolute(50%);
		left: 0;

		@include translate(0, -50%);

		@include box(1.7rem);

		background: center / cover no-repeat
			url('../../assets/icons/phone-add.svg');

		cursor: pointer;

		content: '';
	}

	&--remove {
		margin: 0;
		padding: 0;

		&::before {
			@include relative();
			@include translate(0, 0);

			background: center / cover no-repeat
				url('../../assets/icons/phone-remove.svg');
		}
	}
}

.phone-wrap {
	@include flex-pos(center);
	flex: 1;
}
