@import '../../node_modules/normalize.css/normalize';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;

	font-size: 62.5%;

	@include for-size(992) {
		font-size: 50%;
	}
}

body {
	min-height: 100%;

	padding: 0;
	margin: 0;

	@include font;
	font-size: $font-size-md;
}

img {
	max-width: 100%;
	height: auto;

	vertical-align: middle;
}

@each $heading, $font-size in $font-size-headings {
	#{$heading} {
		font-size: $font-size;
		text-transform: uppercase;
	}
}
