//Roboto
@font-face {
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-weight: 700;
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}
